<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Headache Tracker</title>
		<link href="../css/output.css" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    </head>
    <body>
		<div class="hero min-h-screen bg-base-200">
      		<div class="hero-content flex-col lg:flex-row-reverse">
      		    <div class="text-center lg:text-left">
      		    	<h1 class="text-5xl font-bold"><%= user.userName %>, you've had <%= left %> headaches so far.</h1>
      		    	<p class="py-6">Record an attack or quickly add a headache to track.</p>
      		    	<a href="/attack"><button class="btn btn-primary">Record attack</button></a>
      		    	<br><br>
      		    	<ul class="task-list">
      		    		<% todos.forEach(el => { %>
      		    		    <div class="container" >
      		    		        <li class="todoItem task-list-item draggable" draggable="true" data-id='<%= el._id %>'>
      		    		          	<span class="<%= el.completed === true ? 'completed' : 'not' %>"><%= el.todo %></span>
      		    		          	<% if(el.date != "Invalid Date" ){ %>
      		    		          		<span class="dateStyle">headache on <%= el.date %></span>
      		    		          	<% } %>
      		    		          	<span class="fa-solid fa-circle-exclamation <%=el.important === true ? 'important' : '' %>" title="Mark important / unimportant"></span>
      		    		          	<span class='del fa fa-trash delete-btn' title="Delete"></span>
      		    		        </li>
      		    		    </div>
      		    		<% }) %>
						<!-- <% recType.forEach(el => { %>
							<div class="container" >
								<li class="todoItem task-list-item draggable" draggable="true" data-id='<%= el._id %>'>
									<span class="<%= el.completed === true ? 'completed' : 'not' %>"><%= recType %></span>
									<% if(el.date != "Invalid Date" ){ %>
										<span class="dateStyle">headache on <%= recDate %></span>
									<% } %>
									<span class="fa-solid fa-circle-exclamation <%=el.important === true ? 'important' : '' %>" title="Mark important / unimportant"></span>
									<span class='del fa fa-trash delete-btn' title="Delete"></span>
								</li>
							</div>
						<% }) %> -->
      		    	</ul>
      		    </div>
      		    <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
      		        <div class="card-body">
      		            <form action="/home/createTodo" method='POST' class="add-task">
      		                <div class="form-control">
      		                    <label class="label">
      		                    	<span class="label-text">Quick-add headache</span>
      		                    </label>
      		                    <input type="text" name='todoItem' placeholder="headache type" class="task-input input input-bordered" />
      		                </div>
      		                <div class="form-control">
      		                	<label class="label">
      		                		<span class="label-text">Date</span>
      		                	</label>
      		                	<input type="date" name="toDoDate" class="input-date input input-bordered" />
      		                </div>
      		                <div class="form-control mt-6">
      		                	<input type="submit" class="btn btn-primary" value="Add"></input>
      		                </div>
      		            </form>
      		            <form action="/home/getTask" method="POST">
      		                <div class="form-control">
      		                	<label class="label">
      		                		<span class="label-text">Find headaches from a specific date</span>
      		                	</label>
      		                	<input type="date" name="findTask" class="double input input-bordered" />
      		                </div>
      		                <div class="form-control mt-6">
      		                	<input type="submit" class="btn btn-primary" value="Find"></input>
      		                </div>
      		            </form>
      		            <div class="logout"><a href="/logout">Log out</a></div>
      		        </div>
      		    </div>
      		</div>
		</div>
      	<script src="../js/main.js"></script>
		<script src="../js/drag.js"></script>
    </body>
</html>