<!DOCTYPE html>
<html lang="en" data-theme="night">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Summary</title>
        <link href="../css/output.css" rel="stylesheet">
    </head>
    <body>
        <div class="hero min-h-screen bg-base-200">
            <div class="hero-content flex-col lg:flex-row-reverse">
                <div class="sticky text-center lg:text-left">
                    <h1 class="text-5xl font-bold">Summary</h1>
                </div>
                <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
                    <div class="card-body">
                        <h3 class="text-3xl font-bold">Attack Time</h3>
                        <ul class="list-disc list-inside">
                            <li><%= date %>: <%= start %> - <%= end %></li>
                        </ul>
                        <h3 class="text-3xl font-bold">Attack Type(s)</h3>
                        <ul class="list-disc list-inside">
                            <% for(let i = 0; i < type.length; i++) {%>
                                    <li>
                                        <span><%= type[i] %></span>
                                    </li>
                            <% } %>
                        </ul>
                        <h3 class="text-3xl font-bold">Pain Level</h3>
                        <ul class="list-disc list-inside">
                            <li><%= level %></li>
                        </ul>
                        <h3 class="text-3xl font-bold">Attack Location</h3>
                        <ul class="list-disc list-inside">
                            <li><%= attackLoc %></li>
                        </ul>
                        <h3 class="text-3xl font-bold">Symptoms</h3>
                        <ul class="list-disc list-inside">
                            <% for(let i = 0; i < symptoms.length; i++) {%>
                                    <li>
                                        <span><%= symptoms[i] %></span>
                                    </li>
                            <% } %>
                        </ul>
                        <h3 class="text-3xl font-bold">Triggers</h3>
                        <ul class="list-disc list-inside">
                            <% for(let i = 0; i < triggers.length; i++) {%>
                                    <li>
                                        <span><%= triggers[i] %></span>
                                    </li>
                            <% } %>
                        </ul>
                        <h3 class="text-3xl font-bold">Aura</h3>
                        <ul class="list-disc list-inside">
                            <% for(let i = 0; i < aura.length; i++) {%>
                                    <li>
                                        <span><%= aura[i] %></span>
                                    </li>
                            <% } %>
                        </ul>
                        <h3 class="text-3xl font-bold">Medication</h3>
                        <ul class="list-disc list-inside">
                            <% for(let i = 0; i < medication.length; i++) {%>
                                    <li>
                                        <span><%= medication[i] %></span>
                                    </li>
                            <% } %>
                        </ul>
                        <h3 class="text-3xl font-bold">Relief Methods</h3>
                        <ul class="list-disc list-inside">
                            <% for(let i = 0; i < relief.length; i++) {%>
                                    <li>
                                        <span><%= relief[i] %></span>
                                    </li>
                            <% } %>
                        </ul>
                        <h3 class="text-3xl font-bold">Activities Affected</h3>
                        <ul class="list-disc list-inside">
                            <% for(let i = 0; i < activities.length; i++) {%>
                                    <li>
                                        <span><%= activities[i] %></span>
                                    </li>
                            <% } %>
                        </ul>
                        <h3 class="text-3xl font-bold">Pain Location</h3>
                        <ul class="list-disc list-inside">
                            <% for(let i = 0; i < painLoc.length; i++) {%>
                                    <li>
                                        <span><%= painLoc[i] %></span>
                                    </li>
                            <% } %>
                        </ul>
                        <div class="form-control mt-6">
                            <a href="/home"><button class="btn btn-primary">Home</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>